p
{
    text-align: right;

}
ju
{
    font-size: small;
}
ju1
{
    font-size: small;
}
don
{
    font-size: large;
}
don1
{
    font-size: large;
}
ng
{
    font-size: larger;
}
div1
{
    color: red; font-size: xx-large; font-weight: bold;
}