body {
    background-image: url('160896226-développement-de-logiciels-pour-différents-appareils-processus-d-optimisation-programme-de.jpg');
    background-size: cover;
    
}

h1, p, b, br, a{
    color: beige;

}